<% @authors.each do |author| %>
  <ul>
    <%= render partial: "authors/author", locals: {post_author: author} %>
    <li> <%= author.name %></li>
    <li> <%= author.hometown %></li>
  </ul>
<% end %>
